<a href="https://colab.research.google.com/github/kiranp7/star-pattern/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for col in range(7):
  for row in range(7):
    if col==0 or col==6 or row==0 or row==6 or col-row==3 or row+col==3 or row-col==3 or row+col==9:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*   *   *   *
* *       * *
*           *
* *       * *
*   *   *   *
* * * * * * *

In [ ]:
for row in range(5):
  for col in range(9):
    if row==4 or row+col==4 or col-row==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [ ]:
for row in range(4):
  for col in range(7):
    if row==3 or row+col==3 or col-row==3:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
* * * * * * *

In [ ]:
for row in range(5):
  for col in range(5):
    if row+col==2 or col-row==2 or row-col==2 or row+col==6:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *
  *   *
*       *
  *   *
    *

In [ ]:
for row in range(4):
  for col in range(4):
    if col==0 or row==3 or row-col==0:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
* * * *

In [ ]:
for row in range(5):
  for col in range(5):
    if row-col==0 or row+col==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*       *
  *   *
    *
  *   *
*       *

In [ ]:
n=int(input("num"))
for i in range(1,n):
  for j in range(i):
    print("*",end=" ")
  for j in range(n-1):
    print(" ",end=" ")
  print()

num9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *